@import './shared/variables.css';

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grid-border-color);
    height: 30em;
    position: relative;
}

.scrollheader {
    height: 25px;
    position: absolute;
    right: 0;
    top: 0;
    width: 18px;
}
